.wrap {
  width: 100%;
  height: 100%;
}
.top {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
}
.head {
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  padding: 0 0.9rem;
  background: #38b0ff;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}
.content {
  margin-top: 9.94rem;
}
.wrap .date1 {
  text-align: center;
  height: 2.1rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.wrap .date1 input{
  width: 50%;
  height:1.5rem;
  text-align: center;
  border: 1px solid #38b0ff;
  border-radius: 5px;
  margin: 0.3rem 0;
}
.wrap .cont li {
  float: left;
  width: 50%;
  line-height: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.wrap .an {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.wrap .an a {
  float: left;
  line-height: 1.6rem;
  padding: 0.2rem 0;
  margin-right: 0.3rem;
}
.wrap .an a.on {
  color: #FF73A2;
  border-bottom: 2px solid #FF73A2;
}
.content .list > dl {
  padding-bottom: 0.5rem;
  margin-left: 0.7rem;
  display: flex;
  display: -webkit-flex;
  border-top: 1px solid #E5E5E5;
  padding-top: 0.5rem;
}
.content .list > dl dt {
  width: 4.9rem;
}
.content .list > dl dt img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
.content .list > dl dd {
  margin-left: 0.5rem;
  width: -webkit-calc(94.6%);
  width: calc(94.6%);
}
.content .list > dl dd ul li {
  font-size: 0.8rem;
  line-height: 1.2rem;
  float: left;
  width: 100%;
}
.content .list2 {
  display: none;
}
.content .list2 > dl dd ul li {
  line-height: 1.8rem;
}
.list1 >div> ul {
  margin: 0.5rem 0.5rem 0 1rem;
}
.list1 >div> ul .left {
  float: left;
  width: 80%;
}
.list1 > div>ul .right {
  float: right;
  text-align: right;
  font-size: 0.8rem;
  width: 20%;
}
.list1 >div> ul .left p img {
  width: 1.6rem;
  height: 1.6rem;
  float: left;
}
.list1 > div>ul .left p span {
  float: left;
  line-height: 1.6rem;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
.list1 > div>ul .left > span,
.list1 > div>ul .right > div {
  font-size: 0.8rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list1 > div>ul .right p {
  line-height: 1.6rem;
}
.content .list1 > div>dl {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  display: -webkit-flex;
}
.content .list1 > div>dl dt {
  width: 4rem;
}
.content .list1 > div>dl dt img {
  border: 0 none;
  width: 100%;
  border-radius: 0.3rem;
}
.content .list1 > div>dl > dd {
  margin-left: 1rem;
  width: -webkit-calc(95%);
  width: calc(95%);
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.3rem;
}
.list1 >div> p {
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}
.list1 >div> p > span {
  color: #999;
}
.content1 {
  margin-top: 2.75rem;
}
