<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>订单列表</title>
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap-theme.css">
<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.js"></script>
<link rel="stylesheet" href="/bootstrap-table-1.12.1/dist/bootstrap-table.css">
<script type="text/javascript" src="/bootstrap-table-1.12.1/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="/bootstrap-table-1.12.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/js/order_list.js"></script>
<style type="text/css">
.input-add {
	width: 200px;
	height: 30px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
}
</style>
<script th:inline="javascript">  
	var openid = /*[[${parent}]]*/  
</script>  

</head>
<body>
	<!-- <input hidden="true" name="role" id="role" value="${parent}"/> -->
	<div class="panel-body" style="padding-bottom: 0px;">
		<div class="panel panel-default" style="display: none;">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
				<form id="formSearch" class="form-horizontal">
					<div class="form-group" style="margin-top: 15px">
						<label class="control-label col-sm-1" for="txt_search_departmentname">名称</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="txt_search_departmentname">
						</div>
						<label class="control-label col-sm-1" for="txt_search_statu">手机</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="txt_search_statu">
						</div>
						<div class="col-sm-4" style="text-align: left;">
							<button type="button" style="margin-left: 50px" id="btn_query" class="btn btn-primary">查询</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div id="toolbar" class="btn-group">
			<button id="btn_add" type="button" class="btn btn-default" data-toggle="modal">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>总销售额：<span th:text="${OrdersDisplay.totalFee}"></span>
			</button>
			<button id="btn_edit" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>总订单数<span th:text="${OrdersDisplay.orderNums}"></span>
			</button>
			<a href="/admin/logout" class="glyphicon btn" style="margin-left: 20px;">退出系统</a>
		</div>
		<table id="tb_departments"></table>
	</div>


	<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">系统操作提示</h4>
				</div>
				<div class="modal-body">
					<span id="msg"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
</body>
</html>