<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8">
<title>个人中心</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="/mobile/css/global.css" />
<link rel="stylesheet" href="/mobile/css/style.css" />
<link rel="stylesheet" href="/LCalendar-1.71/css/LCalendar.min.css" />
<script th:inline="javascript">  
	var doctorName = /*[[${doctorName}]]*/  
</script> 
</head>
<body>
	<div class="wrap">
		<!--顶部-->
		<div class="top">
			<div class="head">个人中心</div>
			<div class="date1">
				<input id="yMonth1" type="text" readonly th:value="${orders.year} + '-' + ${orders.month}" placeholder="请选择年月" />
			</div>
			<ul class="clearfix cont">
				<li>客户总数：<span th:text="${orders.subAccount}">0</span></li>
				<li>销售额：<span th:text="${orders.totalFee}">0</span></li>
			</ul>
			<div class="an clearfix">
				<a href="javascript:;" class="on">订单</a> <a href="javascript:;">产品统计</a>
			</div>
		</div>
		<!--内容-->
		<div class="content">
			<div class="list list1">
				<div th:each="prod,iterStat:${orders.orders}">
					<ul class="clearfix">
						<li class="left">
							<p class="clearfix">
								<span th:text="${prod.receiverCity}"></span> <span th:text="${prod.fansNickname}"></span>
							</p> <span th:text="${prod.created}"></span>
						</li>
						<li class="right">
							<div th:text="${prod.itemId}" style="display:none;"></div>
							<p th:text="${prod.statusStr}">待发货</p>
						</li>
					</ul>
					<dl>
						<dt>
							<img th:src="${prod.picThumbPath}" alt="" />
						</dt>
						<dd>
							<span th:text="${prod.title}"></span>
						</dd>
					</dl>
					<p>
						共<span th:text="${prod.num}"></span>件，合计：<b>￥<span th:text="${prod.payment}"></span></b> <span>(免运费)</span>
					</p>
				</div>
			</div>
			<div class="list list2">
				<dl th:each="prod,iterStat:${orders.subOrdersList}">
					<dt>
						<img th:src="${prod.picThumbPath}">
					</dt>
					<dd>
						<ul class="clearfix">
							<li>
								<p>
								    <span th:text="${prod.title}"></span>
								</p>
								<p>
									销售额:<span th:text="${prod.totalFee}"></span>
								</p>
							</li>
							<li class="money" style="display:none;">ID:<span th:text="${prod.itemId}"></span></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</body>
<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/mobile/js/public.js"></script>
<script src="/LCalendar-1.71/js/LCalendar.js"></script>
<script>
	function tabs() {
		var a_ = $(".an a");
		var list_ = $("div.list");
		a_.click(function() {
			var index_ = $(this).index();
			a_.removeClass("on");
			a_.eq(index_).addClass("on");
			list_.hide();
			list_.eq(index_).show();
		})
	}
	tabs();
	/*日期使用*/
	var calendarym = new LCalendar();
	calendarym.init({
		'trigger' : '#yMonth1',
		'type' : 'ym',
		'minDate' : '2018-1',
		'maxDate' : new Date().getFullYear() + '-'
				+ (new Date().getMonth() + 1)
	});
</script>
</html>