body{
    background: url("/img/wallpaper/1.jpg");
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:3s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
@keyframes myfirst
{
    0%   {background:url("/img/wallpaper/1.jpg");}
    34%  {background:url("/img/wallpaper/2.jpg");}
    67%  {background:url("/img/wallpaper/3.jpg");}
    100% {background:url("/img/wallpaper/4.jpg");}
}
.form{background: rgba(255,255,255,0.2);width:350px;margin:120px auto;}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}