<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>测试界面</title>
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap-theme.css">
<link rel="stylesheet" href="login_new.css">
<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.js"></script>
<link rel="stylesheet" href="/bootstrap-table-1.12.1/dist/bootstrap-table.css">
<script type="text/javascript" src="/bootstrap-table-1.12.1/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="/bootstrap-table-1.12.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name]) {
				if (!o[this.name].push) {
					o[this.name] = [ o[this.name] ];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};
</script>
</head>
<body>
	<div class="container">
		<h1>模板测试</h1>
		<div>
     <ul>
         <li th:each="list:${list}">
             <span th:text="${list}"></span>
         </li>
     </ul>
   </div>
	</div>
</body>
</html>